.menu{
    height: 100px;
    background: wheat;
    display: flex;
}
.menu_cut{
    text-align: center;
    height: 100%;
    width: 10%;
}
.menu_button {
    height: 100px;
    width: 100%;
    background-color: rgb(100, 136, 255);
    border-radius: 100px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    vertical-align: middle;
}
body{
    background-color: #c6ffac;
    color:  rgb(0 110 50);
    margin: 0;
}
html{
    padding:0;
    margin: 0;
}
header{
    background: rgb(255, 255, 200);
    color: black;
}
headertext{
    font-weight: bold;
    font-size:50px;
    margin: auto;
}
.footer{
    background: rgb(126, 152, 238);
    align-items: center;
    color: white;
    text-align: center;
    padding: 10px;
}
.text{
    padding: 24px 50px 24px 50px;
    font-weight: 700;
}
.top{
    background-color: #ffffff;
    display: flex;
    max-height: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    min-height: 64px;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
}
.top_img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_space{
    width: 500px;
}
.top_button {
    display: flex;
    align-items: center;
}
  .top_button_com {
    margin: 0px 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .top_button_img {
    width: 32px;
    height: 32px;
  }
  .top_button_text_com {
    color: rgb(0 110 50);
    margin: 0px 8px;
    display: flex;
    flex-direction: column;
  }
  .top_button_up_text {
    font-size: 13px;
    font-weight: 700;
  }
  .top_button_down_text {
    font-size: 13px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
  }
  .bg_main {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .bg_space{
    padding: 0px 16px 16px;
    max-width: 1200px;
    margin: auto;
  }
  .up_space {
    width: calc(100%-48px);
    display: flex;
    align-items: center;
    padding: 24px 0px 0px 48px;
  }
  .title {
    color: rgb(0 110 50);
    font-weight: 500;
    text-decoration: none;
  }
  .main{
    display: flex;
    padding: 12px;
  }
  .full{
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    padding: 12px;
  }
  .left {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
    padding: 12px;
  }
  .right{
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
    padding: 12px;
  }
  .chunk{
    padding: 16px 0px;
    margin-bottom: 32px;
    box-shadow: 2px 2px 5px 0 rgb(119 75 67 / 20%);
    border-radius: 12px;
    background-color: #ffffff;
  }
  .chunk_title{
    display: flex;
    align-items: center;
  }
  .chunk_title_left{
    width: 50px;
    height: 24px;
    margin-right: 16px;
  }
  .chunk_title_right{
    width: 100%;
    height: 24px;
    margin-left: 16px;
  }
  .menu{
    width: 6%;
    height: 24px;
    padding-left: 47%;
    display: none;
  }
  .chunk_title_line{
    width: 100%;
    height: 2px;
    margin: 4px 0px;
    background-color: rgb(129, 152, 255);
  }
  .chunk_title_text{
    display: flex;
    align-items: flex-end;
    line-height: 16px;
    flex-wrap: nowrap;
  }
  .chunk_title_text_ch{
    margin: 0;
    font-size: 18px;
    word-break: keep-all;    
    font-weight: 700;
  }
  .chunk_title_text_en{
    color: rgb(0 110 50);
    opacity: 0.5;
    font-size: 12px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    line-height: 20px;
    margin-left: 4px;
  }
  .other_links{
    padding: 0px 16px;
    margin-bottom: 32px;
  }
  .other_links_button{
    display: flex;
    padding: 16px 0px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  .other_links_com{
    display: flex;
    align-items: center;
  }
  .other_links_img{
    height: 40px;
    width: 40px;
  }
  .other_links_text{
    color: rgb(0 110 50);
    font-weight: 700;
    margin-left: 8px;
  }
  .other_links_line{
    border: none;
    height: 1px;
    margin: 0;
    flex-shrink: 0;
    background-color: rgb(48, 138, 255);
  }
  .other_links_icon{
    font-size: 2.1875rem;
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
  }
  .which_news{
    display: flex;
    padding: 0px 16px;
    align-items: center;
  }
  .news_icon{
    width: 35px;
  }
  .news_main{
    width: 100%;
    display: flex;
    padding: 16px 0px 16px 16px;
    align-items: center;
    border-bottom: 1px solid rgb(224, 137, 43);
    justify-content: space-between;
  }
  .news_text_set{
    display: flex;
    flex-direction: column;
  }
  .news_label{
    border: 1px solid rgb(255, 155, 166);
    padding: 0px 8px;
    font-size: 12px;
    margin-top: 3px;
    font-weight: 700;
    margin-right: 3px;
    border-radius: 6px;
    text-decoration: none;
  }
  .news_title{
    color: rgb(141, 85, 66);
    padding: 2px 0;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
  }
  .news_time{
    color: rgb(255, 155, 166);
    font-size: 14px;
  }
  .video_chunk{
    align-items: center;
    margin:auto;
  }
  .discord_statue{
    width:250px;
    height:350px;
    padding: 20px;
  }
  .St_button {
    background-color: rgb(48, 138, 255);
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .set_button{
    padding: 10px 0px 10px 50%;
  }
  .video{
    padding-left:5%; 
  }
  .input{
    width: 70em;;
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  @media only screen and (min-width: 0px) and (max-width: 1219px) {
    .change{
      max-width: 100%;
      flex-basis: 100%;
    }
    .main_change{
      display: block;
    }
    .button_change{
      display: none;
    }
    .menu_change{
      display: block;
    }
    .top_change{
      display: block;
      max-height: none;
    }
    .center{
      padding: 5px 0px 5px 35%;
    }
    .discord_change{
      padding: 15px;
    }
    .submit_button_change{
      padding: 10px 0px 10px 35%;
    }
  }
  @media only screen and (min-width: 841px) and (max-width: 1219px) {
    .input_change1{
      width: 50em;
    }
  }
  @media only screen and (min-width: 583px) and (max-width: 840px) {
    .input_change2{
      width: 30em;
    }
  }
  @media only screen and (min-width: 369px) and (max-width: 582px) {
    .input_change3{
      width: 15em;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 368px) {
    .input_change4{
      width: 10em;
    }
  }
  @media only screen and (min-width: 768px){
    .list_change{
      display: none;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 768px) {
    .videos{
      width:100%;
      text-align:center;
      padding-left:0; 
    }
  }
  